@use "../../variables" as *;

.collapse {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 1em;
  gap: 25px;
  @media (min-width: 768px) {
    width: 80%;
    gap: 35px;
  }
}
