@use "../../variables" as *;

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  & img {
    width: 16px;
    @media (min-width: 768px) {
      width: 25px;
    }
  }
}
