@use "../../variables" as *;

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1.5em;
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $salmon;
    color: $white;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    min-width: fit-content;
    padding: 0.6em 2em;
    @media (min-width: 768px) {
      border-radius: 10px;
      font-size: 13px;
    }
  }
}
