@use "../../variables" as *;

.titles-host-rating {
  display: flex;
  flex-direction: column;
  & h1 {
    font-size: 20px;
    font-weight: 500;
    color: $salmon;
    padding-top: 0.5em;
    padding-right: none;
    @media (min-width: 768px) {
      font-size: 35px;
      padding-right: 1em;
    }
  }
  & h2 {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    margin-top: 0.5em;
    @media (min-width: 768px) {
      font-size: 18px;
      margin-top: 0;
    }
  }
  & .hostRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (min-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-end;
      width: fit-content;
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.description-equipment {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin: 1.5em 0em 0.5em 0em;
  }
}