@use "./variables" as *;

.headerBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1.5em;
  & .imgBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.6);
  }
  & .titleBanner {
    color: $white;
    font-size: 24px;
    font-weight: 600;
    width: 90%;
    text-align: left;
    text-shadow: #00000070 2px 2px 4px;
    z-index: 2;
    @media (min-width: 768px) {
      font-size: 40px;
      text-align: center;
    }
    @media (min-width: 1040px) {
      font-size: 46px;
      text-align: center;
    }
  }
  @media (min-width: 768px) {
    height: 223px;
    border-radius: 25px;
  }
}
