@use "./variables" as *;

.buttonClps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $white;
  background-color: $salmon;
  border-radius: 6px;
  padding: 0.5em 1em;
  margin: 1em 0em;
  cursor: pointer;
  & h3 {
    font-weight: 600;
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  & .arrowClps {
    width: 24px;
    transition: transform 0.3s ease-in-out;
    &.open {
      transform: rotate(-180deg);
    }
  }
}

.desciptionClps {
  margin: auto;
  width: 90%;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &.open {
    max-height: 200px;
    opacity: 1;
  }
  & .textClps {
    color: $black;
    font-size: 13px;
    text-align: left;
    padding: 0.5em;
    @media (min-width: 768px) {
      font-size: 15px;
    }
  }
}
