@use "./variables" as *;

.errorBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  min-height: 60vh;
  & .errorH1 {
    color: $salmon;
    font-size: 90px;
    @media (min-width: 768px) {
      font-size: 190px;
    }
  }
  & .errorH2 {
    width: 85%;
    color: $salmon;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 25px;
    }
  }
  & .errorLink {
    color: $black;
    font-size: 13px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}
