@use "./variables" as *;

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 0em 1em;
  min-height: 90vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}