@use "./variables" as *;

.slideShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  @media (min-width: 768px) {
    height: 380px;
    border-radius: 20px;
  }
  & .imgSlideshow {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: bound 0.5s ease-in-out forwards;
  }
  & .arrowsBloc {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 0em 2em;
    & .arrows {
      width: 20px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
      @media (min-width: 768px) {
        width: 35px;
      }
    }
  }
  & .numberSlide {
    position: absolute;
    bottom: 1.5em;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: #00000050 1px 2px 1px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

@keyframes bound {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.05);

  }
  100% {
    transform: scale(1);

  }
}
