@use "../../variables" as *;

.card {
  width: 100%;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.04);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000000 40%, #00000050);
  }
  & .imgCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .titleCard {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: #00000060 1px 1px 2px;
    font-size: 18px;
    font-weight: 500;
    width: 70%;
    z-index: 2;
  }
}
