@use "../../variables" as *;

.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em 0em;
  & p {
    color: $salmon;
    font-size: 12px;
    text-align: right;
    margin-right: 1em;
    @media (min-width: 768px) {
      font-size: 15px;
      font-weight: 500;
    }
  }
  & img {
    width: 38px;
    border-radius: 5em;
    @media (min-width: 768px) {
      width: 60px;
    }
  }
}
