@use "../../variables" as *;

.buttonClps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: $white;
  background-color: $salmon;
  border-radius: 6px;
  padding: 0em 1em;
  cursor: pointer;
  & h3 {
    font-weight: 600;
    font-size: 14px;
    padding: 0.7em 0em;
    @media (min-width: 768px) {
      font-size: 19px;
    }
  }
  & .arrowClps {
    width: 24px;
    transition: transform 0.3s ease-in-out;
    &.openArrow {
      transform: rotate(-180deg);
    }
  }
}

.descriptionClps {
  margin: auto;
  width: 98%;
  max-height: 0;
  background-color: $grey;
  border-radius: 0px 0px 5px 5px;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &.openArrow {
    max-height: 500px;
    opacity: 1;
  }
  & .textClps {
    color: $black;
    font-size: 13px;
    text-align: left;
    padding: 1.5em;
    pointer-events: none;
    & ul, li {
      list-style-type: none;
      padding-left: 0;
      line-height: 1.5;
    }
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}
