@use "../../variables" as *;

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5em 1em;
  & .logoHeader {
    width: 90%;
    max-width: 160px;
    @media (min-width: 768px) {
      width: 100%;
    }
  }
  & div {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    gap: 25px;
    @media (min-width: 768px) {
      font-size: 17px;
      text-transform: none;
      gap: 45px;
    }
  }
  a {
    text-decoration: none;
    color: $black;
    transition: color 0.14s ease-in-out;
    &.active {
      text-decoration: underline;
    }
    &:hover {
      @media (min-width: 768px) {
        color: $salmon;
      }
    }
  }
}
